<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Planner</title>
  <style>
    input[type="checkbox"]:checked + label {
        text-decoration: line-through;
    }
  </style>
</head>

<body>
<%- include('partials/header') %>

<div>
    <h1>Work Planner</h1>
        <form action="/work" method="post">
            <input name="task" type="text" class="feedback-input" placeholder="Enter Task Here" />
            <input type="submit" value="SUBMIT" />
        </form>        
</div>
<div>
    <% task.forEach(function(item, index){ %>
        <div>
            <input type="checkbox" id="task-<%= index %>" />
            <label for="task-<%= index %>"><%= item %></label>
        </div>
    <% }) %>
</div>

<%- include('partials/footer') %>

</body>

</html>
